In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #for statisical graphics also to know the relationsip btw the variables in the form of plots
import statsmodels.api as sm 
import pylab as py 
import scipy

In [2]:
data= pd.read_csv("Filtered data.csv")

In [3]:
data.head()

,Unnamed: 0,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,make_code
0,44412,13.6,34.2,0.0,8.8,12.8,5,35.0,2,13,...,20.0,1015.8,1011.6,7.0,6.0,21.9,31.8,0,0,0
1,5939,17.9,35.2,0.0,12.0,12.3,11,48.0,1,12,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0,0
2,117891,19.1,36.5,0.0,11.6,13.1,0,37.0,0,10,...,52.0,1010.5,1007.7,0.0,0.0,22.6,35.4,0,0,0
3,81877,22.2,33.9,0.0,9.0,6.9,13,44.0,9,5,...,65.0,1007.4,1005.1,5.0,7.0,29.7,30.9,0,0,0
4,96977,12.6,17.0,0.8,4.8,6.5,12,56.0,12,12,...,43.0,1008.3,1011.6,7.0,5.0,14.3,16.6,0,0,0

In [5]:
Corr=data[['MinTemp','Rainfall']]
Corr.corr()

           MinTemp  Rainfall
MinTemp   1.000000 -0.016478
Rainfall -0.016478  1.000000

In [6]:
Corr=data[['MaxTemp','Rainfall']]

In [7]:
Corr.corr()

           MaxTemp  Rainfall
MaxTemp   1.000000 -0.207187
Rainfall -0.207187  1.000000

In [8]:
Corr=data[['Evaporation','WindGustSpeed']]

In [9]:
Corr.corr()

               Evaporation  WindGustSpeed
Evaporation       1.000000       0.254889
WindGustSpeed     0.254889       1.000000

In [10]:
Corr=data[['Sunshine','Humidity3pm']]

In [11]:
Corr.corr()

             Sunshine  Humidity3pm
Sunshine     1.000000    -0.555719
Humidity3pm -0.555719     1.000000

In [12]:
Corr=data[['Pressure3pm','Cloud3pm']]

In [13]:
Corr.corr()

             Pressure3pm  Cloud3pm
Pressure3pm     1.000000 -0.039405
Cloud3pm       -0.039405  1.000000

In [14]:
Corr=data[['WindGustSpeed','Pressure9am']]

In [15]:
Corr.corr()

               WindGustSpeed  Pressure9am
WindGustSpeed       1.000000    -0.299085
Pressure9am        -0.299085     1.000000

In [18]:
Corr=data[['WindGustSpeed','Rainfall']]

In [19]:
Corr.corr()

               WindGustSpeed  Rainfall
WindGustSpeed       1.000000  0.053162
Rainfall            0.053162  1.000000

In [20]:
Corr=data[['MaxTemp','Sunshine']]

In [21]:
Corr.corr()

           MaxTemp  Sunshine
MaxTemp   1.000000  0.469456
Sunshine  0.469456  1.000000

In [22]:
Corr=data[['MinTemp','Sunshine']]

In [23]:
Corr.corr()

           MinTemp  Sunshine
MinTemp   1.000000  0.107798
Sunshine  0.107798  1.000000

In [24]:
Corr=data[['Humidity3pm','Rainfall']]

In [25]:
Corr.corr()

             Humidity3pm  Rainfall
Humidity3pm     1.000000  0.255274
Rainfall        0.255274  1.000000

In [26]:
Corr=data[['Cloud9am','Rainfall']]

In [27]:
Corr.corr()

          Cloud9am  Rainfall
Cloud9am  1.000000  0.200218
Rainfall  0.200218  1.000000

In [28]:
Corr=data[['Cloud3pm','Rainfall']]

In [29]:
Corr.corr()

          Cloud3pm  Rainfall
Cloud3pm  1.000000  0.184383
Rainfall  0.184383  1.000000

In [30]:
Corr=data[['Pressure9am','WindGustDir']]

In [31]:
Corr.corr()

             Pressure9am  WindGustDir
Pressure9am     1.000000    -0.065628
WindGustDir    -0.065628     1.000000

In [32]:
Corr=data[['Pressure9am','Temp3pm']]

In [33]:
Corr.corr()

             Pressure9am  Temp3pm
Pressure9am      1.00000 -0.42003
Temp3pm         -0.42003  1.00000